/*********************/
/*** Root / Page Styles ***/
/*********************/

:root {
    --maroon-color: #452632;
    --wine-color: #91204D;
    --orange-color: #E4844A;
    --yellow-ochre-color: #E8BF56;
    --light-green-color: #E2F7CE;
    --light-gray-color: #f5f5f5;
    --bottom-margin: 20px;
}

.page-container {
    margin: 0 auto;
    padding: 50px;
    max-width: 1200px;
    line-height: 1.5;

}

/*********************/
/*** Heading Styles ***/
/*********************/

.j-heading {
    font-family: 'Lora';
    font-weight: 800;
}

/*********************/
/*** Header Styles ***/
/*********************/

.j-header {
    margin-bottom: var(--bottom-margin);
}

.j-header--heading {
    text-align: center;
    font-size: 2.5em;
    color: var(--wine-color);
}

/*********************/
/*** Section Styles ***/
/*********************/

.j-section {
    margin-bottom: var(--bottom-margin);
}
.j-section--heading-container {
    margin-bottom: var(--bottom-margin);
    padding: 10px;
    border: 3px solid var(--maroon-color);
    background-color: var(--light-gray-color);
}
.j-section--heading {
    font-size: 2em;
    color: var(--maroon-color);
}

.j-section--list-container {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    gap: 10px 20px;
    overflow: hidden;
}
.j-section--list-container-item {
    grid-column-start: 3;
}

.j-section--list-container-item__1 {
    grid-column-start: 1;

}
.j-section--list-container-item__2 {
    grid-column-start: 2;
}
.j-section--list-image {
    width: 100%;
}


/*********************/
/*** Mini List Styles ***/
/*********************/

.j-mini-list {
    border: 2px solid var(--orange-color);
    padding: 20px 10px;
    background-color: var(--light-green-color);
}
.j-mini-list__items {
    padding-left: 15px;
    list-style-type: decimal;
}

.j-mini-list--heading {
    font-size: 1.5em;
}

